*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    color: var(--main-txt-сl);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-main {
    background: var(--main-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
}

.section__client {
    padding-top: 59px;
    padding-bottom: 94px;
}


.title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-text);
    margin: 0;
    margin-bottom: 30px;
}

.section__title,
.comands__title,
.summary__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--icon-text);
    margin-bottom: 50px;
    margin-top: 0px;
}

.dignity__title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--icon-text);
    margin: 0;
    margin-bottom: 10px;
}

.footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text);
    margin-top: 0px;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--icon-text);
    display: flex;
    align-items: center;
    justify-content: center;
}